/* Imported the font family that would be used for the website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap");

/* This is the styles that would be inherited on the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Defined the theme colors for the web */
:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* the style of the body of the website */
body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* This design is applied to the section */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
